@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bubble {
  animation: float 4s ease-in-out infinite;
}

.bubble:nth-child(odd) {
  animation-duration: 5s;
}

.bubble:nth-child(even) {
  animation-duration: 3s;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(270deg, #b31574, #7a40ed,#40829c );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}


.text-gradient {
  background: linear-gradient(90deg, #7a40ed, #40829c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}